@import url("./vars.css");

#root {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.componentContainer {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.logoMap {
  width: 160px;
  height: 60px;
}

.topNav {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.topRightNav {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userSettingText {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 100%;
  font-size: 24px;
  cursor: pointer;
}

.userSettingContainer {
  position: absolute;
  display: box;
  text-align: center;
  width: 150px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 5px;
  top: 85px;
  right: 25px;
}

.userSettingHeader {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.userSettingOption1 {
  margin: 5px;
  padding: 10px;
  background-image: linear-gradient(to right, #e4dfd9, #e4c7b7);
  border-radius: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.userSettingOption2 {
  margin: 5px;
  padding: 10px;
  background-image: linear-gradient(to right, #c73866, #fe676e);
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.userSettingOption1:hover {
  filter: brightness(90%);
}
.userSettingOption2:hover {
  filter: brightness(90%);
}

.sidebarContainer {
  width: 300px;
  top: 16vh;
  height: 350px;
  background-color: white;
  position: absolute;
  z-index: 1;
  padding: 10px;
  margin-left: 10px;
  border-radius: 20px;
}

.closeButton {
  position: absolute;
  right: 0px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  top: 0px;
}

.directionButton {
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  width: 280px;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 16px;
}

.directionButton:hover {
  filter: brightness(80%);
}

.cancelDirectionButton {
  display: flex;
  background-color: red;
  padding: 10px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  width: 280px;
  margin-left: 50px;

  font-size: 16px;
}

.cancelDirectionButton:hover {
  opacity: 0.6;
}

.bottomDirectionBox {
  z-index: 1;
  padding: 10px;
  position: absolute;
  background-color: white;
  bottom: 15px;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 19px;
  font-family: "Roboto", sans-serif;
}

.bottomDirectionCancelButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: red;
  border: none;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.bottomDirectionCancelButton:hover {
  opacity: 0.8;
}

.bottomDirectionInfo {
  font-size: 16px;
}

.bottomDirectionLocation {
  font-weight: bold;
}

@media screen and (min-width: 320px) {
  .searchBarContainer {
    margin-left: 5px;
  }
  .searchBarInput {
    width: 150px;
  }
  .userSettingContainer {
    width: 100px;
  }
  .sidebarContainer {
    width: 200px;
  }
  .bottomDirectionBox {
    width: 150px;
  }
}

@media screen and (min-width: 481px) {
  .searchBarContainer {
    margin-left: 10px;
  }
  .searchBarInput {
    width: 200px;
  }
  .userSettingContainer {
    width: 150px;
  }
  .sidebarContainer {
    width: 250px;
  }
  .bottomDirectionBox {
    width: 200px;
  }
}

@media screen and (min-width: 641px) {
  .searchBarContainer {
    margin-left: 15px;
  }
  .searchBarInput {
    width: 250px;
  }
  .userSettingContainer {
    width: 200px;
  }
  .sidebarContainer {
    width: 300px;
  }
  .bottomDirectionBox {
    width: 300px;
  }
}

@media screen and (min-width: 961px) {
  .searchBarContainer {
    margin-left: 20px;
  }
  .searchBarInput {
    width: 300px;
  }
  .userSettingContainer {
    width: 250px;
  }
  .sidebarContainer {
    width: 350px;
  }
  .bottomDirectionBox {
    width: 350px;
  }
}

@media screen and (min-width: 1025px) {
  .searchBarContainer {
    margin-left: 30px;
  }
  .searchBarInput {
    width: 350px;
  }
  .userSettingContainer {
    width: 300px;
  }
  .sidebarContainer {
    width: 400px;
  }
}

@media screen and (min-width: 1281px) {
  .searchBarContainer {
    margin-left: 50px;
  }
  .searchBarInput {
    width: 400px;
  }
}
.restaurantName {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-size: 24px;
}
.restaurantCategory {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 16px;
}
.restaurantAdress {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-size: 16px;
}
.restaurantPhone {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-size: 16px;
}
.restaurantRating {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-size: 16px;
}
