@import url("./vars.css");

.container {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.signUpContainer {
  margin: auto;
  padding: 5px 10px;
  width: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.textHeader {
  position: absolute;
  left: 30px;
  top: -5px;
}

.textError {
  color: var(--color-error);
  font-weight: bold;
}

.signUpImgIcon {
  width: 100px;
  height: 100px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  background-color: var(--color-form-box);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 0;
  margin-top: 30px;
  padding-top: 30px;
}

.inputSection {
  width: 50%;
}

.inputText {
  display: flex;
  flex-direction: column;
}

.inputText input {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 20px;
}

.inputText label {
  font-size: 16px;
}

.signUpContainer button {
  border: none;
  margin-top: 10px;
  padding: 5px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.signUpContainer button:hover {
  background-image: var(--gradient-button);
}
